<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div name="top" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home/Index"><img class="navbar-left titleLogo" src="~/Content/Logo.jpg" />BLOGG</a>
            </div>
        </div>
    </div>

    <div class="container-fluid body-content myBody">
        <div class="row">
            <div class="col-xs-8 MainBody">@RenderBody()</div>
            <div class="col-xs-4 Sidebar">
                <div name="sidebar" class="navbar">
                        <ul class="nav">
                            <li class="text-capitalize bg-primary">
                            <div class="myMenu">
                                МЕНЮ
                            </div>
                        </li>
                        <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                        <li>@Html.ActionLink("Гостьова", "Guests", "Home")</li>
                        <li>@Html.ActionLink("Анкета", "ProfileAdd", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
   </div>
    <hr />
    <footer>
        <div class="panel-footer text-center">
            <div class="text-primary">
                &copy; All rights reserved. <a href="#top">Вгору ↑</a>
            </div>
         </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
