@*Передавання списку відгуків*@
@{
    @model DBLib.Models.Review
}

<h2>@ViewBag.Title</h2>

<div class="row">

    @*Виведення всіх коментарів*@
    @{
        if (ViewBag.reviews.Count != 0)
        {
            foreach (var review in ViewBag.reviews)
            {
                <div class="panel panel-default">
                    <div class="panel-heading text-uppercase">@review.AuthorName</div>
                    <div class="panel-body">@review.Text</div>
                    <div class="panel-footer">@review.Date.ToString("yyyy/MM/dd")</div>
                </div>
            }
        }
        else
        {
            <div class="bg-warning text-info alertMessage">Наразі коментарі відсутні.<br>Додайте свій коментар нижче.</div>

        }
    }
    @*Блок форми додавання нового коментаря*@
    <div class="panel panel-info">
        <div class="panel-heading text-uppercase">Додати коментар</div>
        <div class="panel-body">
            <form method="post" action="/Home/Guests" role="form">
                @*<div class="form-group ">
            <label class="control-label" for="Name">Ім'я</label>
            <input required class="form-control" name="AuthorName" id="Name" type="text" />
        </div>
        <div class="form-group">
            <label class="control-label" for="Comment">Коментар</label>
            <input required class="form-control" name="Text" id="Comment" type="text" />
        </div>*@
                <p>@Html.LabelFor(m => m.AuthorName)
                @Html.TextBoxFor(m => m.AuthorName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.AuthorName)</p>
                <p>@Html.LabelFor(m => m.Text)
                @Html.TextBoxFor(m => m.Text, new { htmlAttributes = new { @class = "form-control" } }) @*, new { htmlAttributes = new { @class = "form-control" } }*@
                @Html.ValidationMessageFor(m => m.Text)</p>
                <button type="submit" class="btn btn-sm btn-primary">Додати комент</button>
            </form>
        </div>
    </div>
</div>
