@{

}
<h2>@ViewBag.Title</h2>

<div class="panel panel-info">
    <div class="panel-heading">Приділіть нам трохи часу</div>
    <div class="panel-body">
        <form role="form" action="/Home/ProfileAdd">

            <div class="form-group">
                <label class="control-label" for="Name">Ім'я</label>
                <input required class="form-control" name="Name" id="Name" type="text" />
            </div>

            <div class="form-group">
                <label class="control-label" for="BirthDate">Дата народження</label>
                <input required class="form-control" name="BirthDate" id="BirthDate" type="date" />
            </div>

            <div class="form-group">
                <label class="control-label" for="email">E-mail</label>
                <input required class="form-control" name="email" id="email" type="email" />
            </div>

            <div class="form-group">
                @CreateSelectList((List<string>)ViewData["wayToFindBlog"], "wayToFindBlog", "Як ви знайшли наш блог")
            </div>
            <div class="form-group">
                @CreateCheckBoxUL((List<string>)ViewData["hobbies"], "Hobbies", "Ваші хобі")
            </div>
            <div class="form-group">
                @CreateRadioButtonsUL((List<string>)ViewData["favoriteDrink"], "favoriteDrink", "Що п'єш зранку")
            </div>

            <div class="btn-group">
                <input class="btn btn-sm btn-primary" type="submit" value="Надіслати" />
            </div>
        </form>
    </div>
</div>



@helper CreateSelectList(List<string> items, string name, string caption)
{
    <label class="control-label" for="@name">
        @caption
    </label>

    <select required class="form-control" name="@name" id="@name">
        @foreach (var item in items)
        {
            <option value="@item">@item</option>
        }

    </select>
}

@helper CreateCheckBoxUL(List<string> items, string name, string caption)
{
    <label class="control-label" for="@name">@caption</label>

    <div class="checkbox" id="@name">
        @foreach (var item in items)
        {
            <label class="center-block"><input class="form-check-input" type="checkbox" name="@name" value="@item">@item</label>
        }
    </div>
}

@helper CreateRadioButtonsUL(List<string> items, string name, string caption)
{
    <label for="@name">@caption</label>

    <div class="radio" id="@name">
        @foreach (var item in items)
        {
            <label class="center-block"><input required type="radio" name="@name" value="@item">@item</label>
        }
    </div>
}